{#
/**
 * @file gaya_editorial_index_node_index.html.twig
 * Default theme implementation to present Gaya Editorial Index Node default.
 *
 * This template is used when viewing Gaya editorial entity.
 *
 * Available variables:
 * - title: The title of the content
 * - entity_bundle: The bundle of the content
 * - entity_id: The entity_id of the content
 *
 * Elements from field API:
 * - items[i].field_ge_title: The title of the content
 * - items[i].field_ge_description: The description of the content
 *
 * @see template_preprocess_gaya_editorial_entity()
 * @see template_entity()
 *
 * @ingroup themeable
 */
#}
<div class="gaya_editorial_index">
    {% if elements.field_ge_title[0]|render != '' %}
        <h1>{{ elements.field_ge_title[0]|render }}</h1>
    {% endif %}
    <ul>
        {% for item in items %}
            <li><a href="#{{ item.entity_bundle }}--{{ item.entity_id }}">{{ item.field_ge_title.0.value }}</a>
                <p>{{ item.field_ge_description.0.value }}</p></li>
        {% endfor %}
    </ul>
</div>
