{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<button id="navbar-toggle" type="button" class="navbar-toggle" aria-expanded="false" aria-controls="nav">
  <span class="navbar-toggle-label">Menu</span>

  <span class="icons-bar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </span>
</button>

<nav id="nav" role="navigation">
  {{ menus.menu_links(items, attributes, 0) }}

  {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
      <ul class="nav-main">
        {% for item in items %}
          {% if item.in_active_trail == true %}
          <li{{ item.attributes.addClass('active') }}>
          {% else %}
            <li{{ item.attributes }}>
          {% endif %}
          {{ link(item.title, item.url) }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endmacro %}

  <ul class="nav-quick">
    {% for item in nav_quick %}
      <li class="{{ item.class }}"><a href="{{ path(item.path) }}"><span
            class="{{ item.icon }}"></span> {{ item.title }}</a></li>
    {% endfor %}
    {# {% if logged_in %}
        <li class="active"><a href="{{ path('forum.index') }}"><span class="icon-forum"></span> Forum</a></li>
        <li><a href=""><span class="icon-profil"></span> Mon profil</a></li>
      {% else %}
        <li><a href="{{ path('ddd_forum.connection') }}"><span class="icon-private"></span> Espace réservé</a></li>
      {% endif %} #}
    <li>
      <button type="button" class="btn btn-search" data-toggle="quick-search"><span
          class="sr-only">{{ "Rechercher"|t }}</span></button>
    </li>
  </ul>
</nav>
<div id="quick-search" class="search">
  <div class="container">
    <form class="search-form" action="{{ path('view.global_search.page_1') }}">
      <div class="form-group">
        <div class="input-group input-group-lg">
          <input type="text" placeholder="{{ "Rechercher"|t }}" class="form-control" name="search_api_fulltext" required>
          <div class="input-group-append">
            <span class="input-group-text">
                <i class="far fa-search" aria-hidden="true"></i>
                <span class="sr-only">{{ "Rechercher"|t }}</span>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="quick-search-mask"></div>
