{#
/**
 * @file gaya_editorial_text_two_col.html.twig
 * Default theme implementation to present Gaya Editorial Text default.
 *
 * This template is used when viewing Gaya editorial entity.
 *
 * Available variables:
 * - title: The title of the content
 * - entity_bundle: The bundle of the content
 * - entity_id: The entity_id of the content
 *
 * Elements from field API:
 * - elements.field_ge_title: The title of the content
 * - elements.field_ge_text_formated: The text formated of the first column
 * - elements.field_ge_text_formated_two: The text formated of the second column
 *
 * @see template_preprocess_gaya_editorial_entity()
 * @see template_entity()
 *
 * @ingroup themeable
 */
#}
<section class="section section-text-two-col">
    {% if elements.field_ge_title|render %}
    <{{ elements.field_ge_title_heading[0] }}>{{ elements.field_ge_title[0] }}</{{ elements.field_ge_title_heading[0] }}>
{% endif %}
    <div class="row">
        <div class="col-md-6">
            {{ elements.field_ge_text_formated[0]|render }}
        </div>
        <div class="col-md-6">
            {{ elements.field_ge_text_formated_two[0]|render }}
        </div>
    </div>
</section>