<li class="episode">
  <a class="episode-thumb video-toggle" href="{{ video_url }}?rel=0&showinfo=0&autoplay=1&" data-url="{{ quizz_url }}">{{ content.field_image }}</a><!-- .episode-thumb -->
  <div class="episode-content"><h3 class="episode-title"><a href="{{ link.uri }}" title="{{ link.title }}" alt="{{ link.title }}">{{ content.field_title }}</a></h3></div><!-- .episode-content -->
</li>
