<div class="form-group">
    <label for="edit-email" class="control-label">{{ form.email['#title'] }}</label>
    {{ form.email }}
    {{ form.submit }}
    {{ form.form_token }}
    {{ form.form_build_id }}
    {{ form.form_id }}
</div>

