{# {{ form }} #}
<section class="section-content">
    <div class="container">
        <article class="article">
            <header class="article-header">
                <h1 class="article-title">Mot de Passe Oublié</h1>
            </header>
            <div class="article-content">
              {% if form.name['#errors'] %}
                  {% set error = form.name['#errors'] %}
              <div class="form-group has-error">
                  <label for="edit-email" class="control-label">{{ form.name['#title'] }} *</label>
                  <p id="message-error-email" class="form-message">{{ error|striptags }}</p>
              {% else %}
              <div class="form-group">
                  <label for="edit-email" class="control-label">{{ form.name['#title'] }} *</label>
              {% endif %}
                  {{ form.name }}
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <p class="small">* Champs obligatoires</p>
                  </div>

                  <div class="col-sm-6 text-right">
                      {{ form.actions }}
                  </div>
                  {{ form.form_token }}
                  {{ form.form_build_id }}
                  {{ form.form_id }}
              </div>
            </div>
        </article>
    </div>
</section>
