<div class="stick-download">
    <figure>
        {{ content.field_image }}
    </figure>

    <h2>{{content.field_title}}</h2>

    <div class="actions">
        <a title="Télécharger {{document.title}} - {{document.filemime}} - {{document.filesize}}" target="_blank" href="{{document.url}}">Télécharger</a>

        <button class="btn" type="button">Fermer</button>
    </div>

</div>
