{#
/**
 * @file ge_slideshow_theme_caroufredsel.html.twig
 * Default theme implementation to present Gaya Editorial Slideshow Caroufredsel default.
 *
 * This template is used when viewing Gaya editorial entity.
 *
 * Available variables:
 * - title: The title of the content
 * - theme_style: The theme used for the render
 * - style_name: The style name of the large picture
 * - little_picture: Active the little picture ?
 * - style_name_little: The style name of the little picture
 * - autostart: The slideshow autostart ?
 * - entity_id: The entity_id of the content
 *
 * Elements from fields API:
 * - elements.field_ge_slideshow_pics: The list of the pictures
 * - elements.field_ge_slideshow_pics_little: The list of the little pictures
 * - elements.field_ge_title: The title showed
 * - elements.field_ge_title_heading: The heading balise of the title
 *
 * @see template_preprocess_gaya_editorial_entity()
 * @see template_entity()
 *
 * @ingroup themeable
 */
#}
<section class="section section-slideshow">
    {% if elements.field_ge_title|render %}
        <{{ elements.field_ge_title_heading[0] }}>{{ elements.field_ge_title[0] }}</{{ elements.field_ge_title_heading[0] }}>
    {% endif %}
    <div class="gaya_editorial_slideshow {{ slideshow_cfg.0.theme_style }} entity-{{ entity_id }}" slideshow-prev="slideshow-prev-{{ entity_id }}" slideshow-next="slideshow-next-{{ entity_id }}" slideshow-autostart="{{ slideshow_cfg.0.autostart }}" slideshow-pager="slideshow-pager-{{ entity_id }}">
        <ul id="slideshow-{{ entity_id }}" class="gaya_editorial_slideshow list">
            {% for i in elements.field_ge_slideshow_pics['#items']|keys %}
                <li>{{ elements.field_ge_slideshow_pics[i] }}</li>
            {% endfor %}
        </ul>
        <div class="clearfix"></div>
        {% if slideshow_cfg.0.little_picture|render %}
            {% for i in elements.field_ge_slideshow_pics_little['#items']|keys %}
                <li>{{ elements.field_ge_slideshow_pics_little[i] }}</li>
            {% endfor %}
        {% endif %}
        <a id="slideshow-prev-{{ entity_id }}" class="prev" href="#">&lt;</a>
        <a id="slideshow-next-{{ entity_id }}" class="next" href="#">&gt;</a>
        <div id="slideshow-pager-{{ entity_id }}" class="pager"></div>
    </div>
</section>