<section class="section-content">
  <div class="container">
    <div class="article">
      <header class="article-header">
        <h1 class="article-title">{{ title }}</h1>

        <div class="standfirst">
          <p>{{ teaser }}</p>
        </div>
      </header>
      <!-- .article-header -->
      <div class="section-default section-blue">
        {{ filter }}
      </div>

      <div class="col-lg-3 col-md-3 col-sm-12">
        {{ drupal_region('facets') }}
      </div>

      <div class="col-lg-9 col-md-9 col-sm-12">
        {{ views }}
      </div>

    </div>
  </div>
</section>
<aside>
    <div class="container">
        <div class="row">
          {% for paragraph in spotlight %}
              {{ paragraph }}
          {% endfor %}
        </div>
    </div>
</aside>




